{{define "header"}}
<header class="site-header">

  <div class="site-identity">
    <a href="/"><img src="/static/assets/logo.png" alt="Logo" /></a>
    <h1><a href="/">Forum</a></h1>
  </div>  

  <nav class="site-navigation">
    {{if .AuthenticatedUser}}
    <div class="profil">
      <a href="#" class="userName">{{.AuthenticatedUser.Username}}</a>
    </div>
    <form action="/user/logout" method="POST">
      <button class="logout-button" type="submit">Logout</button>
    </form>
    {{else}}
    <div class="profil">
      <a href="/user/login" button class="login-button"> Log-in </a>

      <a href="/user/register" button class="regin-button"> Reg-in </a>
    </div>
    {{end}}
  </nav>
  
  
</header>
{{end}}
