{{define "header"}}
<div class="header">
  <div class="container">
    <div class="header_contain">
      <a href="#" class="logo"> </a>
      <p>Welcome</p>
      {{if .AuthenticatedUser}}
      <div class="profil">
        <a href="#" class="userName">{{.AuthenticatedUser.Username}}</a>
      </div>
      {{else}}
      <div class="profil">
        <a href="/user/login"> Log-in </a>
        /
        <a href="/user/signup"> Reg-in </a>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}
