
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>platform</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    {{template "header" .}}
    <div class="wrapper">
        <div class="container">
            <div class="posts">
                <div class="title">Latest Posts
                    {{range .Posts}}
                    <tr>
                        <td><a href="/post/{{.ID}}">{{.Title}}</a></td>
                        <td>{{.AuthorName}}</td>
                        <td>{{humanDate .CreatedAt}}</td>
                        <td>{{.Title}}</td>
                        <td>{{.Content}}</td>
                    </tr>
                    {{end}}
                </div>
                    
            </div>
            <!-- <form action="" method="post"></form> -->
        </div>     
        <form action='/post/create' method='POST' >
            <input type="text" name="title" id="">
            <textarea name="content"></textarea>
            <input type="file" name="image">
            <button type="submit">publish</button>
        </form>
    </div>
    {{template "footer" .}}

</body>
</html>
