
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Honey</title>
  </head>
  <body>
    <form action="/user/login" method="post">
      <div>
        <label>Name:</label>
        <input type="text" id="username" value="username" name="username" />
      </div>
      <div>
        <label>Email:</label>
        
        <input type="email" id="email" value="email" name="email" />
      </div>
      <div>
        <label>Password:</label>

        <input type="password" id="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Signup">
        
      </div>
    </form>
  </body>
</html>
