{{define "nav_bar"}}

<nav class="nav_bar fl_l">
  <a href="/" class="nav-link">
    <img src="/static/assets/home.png" alt="" />
    <span>news</span>
  </a>
  <a href="#" class="nav-link">
    <img src="/static/assets/mypost.png" alt="" />
    <span>my posts</span>
  </a>
  <a href="#" class="nav-link">
    <img src="/static/assets/likepost.png" alt="" />
    <span>liked posts</span>
  </a>
  <a href="#" class="nav-link">
    <img src="/static/assets/likecomments.png" alt="" />
    <span>liked comments</span>
  </a>
</nav>

{{end}}
