* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

body {
    background-color: rgb(24, 25, 31);
}

.header {
    background-color: rgb(43, 43, 43);
    height: 54px;
}

.container  {
    width: 975px;
    margin: 0 auto;
}